<header class="header">
    <div class="container header__inner">
        <div class="header__logo">
            <a href="../" aria-label="На главную">
                <img src="../img/icon/cropped-logo.png" alt="АС Монтаж">
            </a>
        </div>
        <nav class="nav-desktop">
            <a href="../" aria-label="На главную">Главная</a>
            <a href="../#services">Услуги</a>
            <a href="../#portfolio">Портфолио</a>
            <a href="../#contacts">Контакты</a>
            <a href="../#contacts" class="header__city">Нижний Новгород</a>
        </nav>
        <div class="header__contacts">
            <a href="tel:+78312288022" class="header__phone adaptive-only">+7 (831) 228-80-22</a>
            <a href="tg://resolve?domain=ac_nn" class="header__icon" aria-label="Telegram">
                <img src="../img/icon/tg.svg" alt="Telegram" />
            </a>
            <a href="whatsapp://send?phone=+79534157494" class="header__icon" aria-label="WhatsApp">
                <img src="../img/icon/wa.svg" alt="WhatsApp" />
            </a>
            <button class="burger" aria-label="Открыть меню">
                <span class="burger__line"></span>
                <span class="burger__line"></span>
                <span class="burger__line"></span>
            </button>
        </div>
    </div>
    <nav class="mobile-menu">
        <ul>
            <li><a href="../">Главная</a></li>
            <li><a href="../#services">Услуги</a></li>
            <li><a href="../#portfolio">Портфолио</a></li>
            <li><a href="../#contacts">Контакты</a></li>
        </ul>
    </nav>
</header>